[submodule "maya/extern/cpr"]
	path = maya/extern/cpr
	url = https://github.com/libcpr/cpr
[submodule "maya/extern/googletest"]
	path = maya/extern/googletest
	url = https://github.com/google/googletest
